<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Autores</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Autores de la práctica</h1>
        <a href="/">Home</a>
        <a href="/credits">Autores</a>
        <a href="/quizzes">Quizzes</a>
        <img src="/public/images/credits.png" alt="Autores de la práctica">
        <p>Eros García Arroyo</p>
        <p>Luis García Olivares</p>
        <div>

        </div>
    </body>
</html>