<!DOCTYPE html>
<html>
    <head>
        <title>Quiz</title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>

        <h1>The Quiz Site</h1>

        <nav>
            <a href="/">Home</a>
            <a href="/credits">Autores</a>
            <a href="/quizzes">Quizzes</a>
        </nav>

        <section>
            <div>
                <%- body%>
            </div>
        </section>

        <footer>

        </footer>
    </body>
</html>
