<h1>Lista de quizzes:</h1>

<table>
    <% for (let i in quizzes) { %>
        <% let quiz = quizzes[i]; %>
        <tr>
            <td>
                Pregunta número
                <%= quiz.id%>:
                <%= quiz.question%>
            </td>
        </tr>
    <% } %>
</table>
